@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root{
  font-family: 'Press Start 2P', cursive;
}
h3{
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6em;
}
.App{
  margin: 50px 100px;
}
.nav-wrapper{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  font-weight: 600;
}

.nav-items{
  margin-left: auto;
  list-style: none;
  margin-top: 0;
}
.nav-items li{
  display: inline-block;
  margin-right: 1rem;
}
form{
  background-color: red;
  padding: 50px 50px;
  width: max-content;
  margin: 0 auto;
  border: 3px solid rgb(97, 225, 230);
}
input{
  display: block;
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
}
label{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}
.submit{
  border: 2px solid black;
  background-color: rgb(97, 225, 230);
  font-family: 'Press Start 2P', cursive;
  padding: 1em 2em;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
span{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  display: block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: red;
  margin: 0 auto;
  width: max-content;
  display: block;
}

.tile {
  display: inline-flex;
  margin: 0;
  padding:0;
  width: 63px;
  height: 63px;
}

.e{
  background-image: url('./components/TheGame/map/assets/e.png')
}
.n{
  background-image: url('./components/TheGame/map/assets/n.png')
}
.ne{
  background-image: url('./components/TheGame/map/assets/ne.png')
}
.ns{
  background-image: url('./components/TheGame/map/assets/ns.png')
}
.nse{
  background-image: url('./components/TheGame/map/assets/nse.png');
  padding: 0;
  margin: 0;
  background-size:cover;

}
.nw{
  background-image: url('./components/TheGame/map/assets/nw.png')
}
.nwe{
  background-image: url('./components/TheGame/map/assets/nwe.png')
}
.nws{
  background-image: url('./components/TheGame/map/assets/nws.png')
}
.nwse{
  background-image: url('./components/TheGame/map/assets/nwse.png')
}
.s{
  background-image: url('./components/TheGame/map/assets/s.png')
}
.se{
  background-image: url('./components/TheGame/map/assets/se.png')
}
.solid{
  background-image: url('./components/TheGame/map/assets/solid.png')
}
.we{
  background-image: url('./components/TheGame/map/assets/we.png')
}
.ws{
  background-image: url('./components/TheGame/map/assets/ws.png')
}
.wse{
  background-image: url('./components/TheGame/map/assets/wse.png')
}
.w{
  background-image: url('./components/TheGame/map/assets/w.png');
}

